/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* New Style */

:root {
  --text-white: #ffffff;
  --bg-url: url(../img/bg_dark_mobile.jpg);
  --bg-color: #191919;
  --radial-gradient-color: rgba(255, 255, 255, 0.05);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../img/moon.svg);
}

.light {
  --text-white: #000000;
  --bg-url: url(../img/bg_light_mobile.jpg);
  --bg-color: #F7F5EB;
  --radial-gradient-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../img/sun.svg);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--radial-gradient-color) 1.5px, transparent 0);
  background-position: 0 0;
  background-size: 25px 25px;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-white);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#main-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#main-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background-color 0.5s, border 0.5s;
  cursor: pointer;
}

#main-links li:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--text-white);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: background-color, 0.5s;
  margin: 0 4px;
}

#social-links div:hover {
  background-color: var(--highlight-color);
}

#social-links div a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  font-size: 0.75rem;
  opacity: 0.5;
  padding: 24px 0;
  text-align: center;
}

/* Animations */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    right: 0;
  }
}